body {
    font-size: 1.5em;
    display: flex;
    height: 100vh;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
#calculator {
    width: 512px;
    height: 512px;
    border: solid 2px ;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-family: monospace;
    
}
button {
    font-size: 1.5em;
    width: 80px;
    margin: 8px;
    background-color: #b6bac7;
    border:solid rgb(118, 118, 118);
    border-style: inset;
    font-family: inherit;
}

button:active {
    border-style: outset;
    transform: translateY(2px);
}

#pad {
    display: flex;
    justify-content: space-between;
    background-color: #1a2023;
    height: inherit;
}

#num, #operators {
    display: grid;
}

#num {
    grid-template-columns: 1fr 1fr 1fr;
}

#operators {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.operator {
    margin: 2px 8px;
    height: auto;
}

#display {
    text-align: right;
    border: 24px #444a5a solid;
    height: 48px;
    font-size: 1.5em;
}